<div class="container">
	<div class="panel panel-primary">
	<div class="panel-body">
		<div class="well">Forget Password</div>
		<div class="panel-body">
			
				<div class="form-group">
					<div>
						<label class="control-label" for="email">Email Id</label> <input
							type="text" class="form-control" name="email"
							data-ng-model="user.email" placeholder="Email address"
							id="email">
					</div>
					<div>
						<button type="submit" id="submit" data-ng-click="sendLink()"
							class="btn btn-success btn-block">Submit</button>
					</div>
				</div>
			
		</div>	
		</div>
	</div>
</div>