
<nav class="navbar navbar-default">
	<div class="container-fluid" ng-style="{'background-color' : topBarColor}" id="topBarColor">
		<ul class="nav navbar-nav">
		
			<li><i class="glyphicons glyphicons-show-lines"></i></li>
			<li id="main">
				<span ng-click="toggleSideBar()" class="span-a" cursor: pointer">&#9776;</span>
			</li>
			<li><h3>Fundoo Keep</h3></li>
			
			<li>
				<span class="glyphicon glyphicon-search" style="top: 25px; margin-left:10px;"></span>
			</li>
			
			<li>
				<div class="form-group" id="search-div">
					<input type="text" ng-style="{'background-color' : topBarColor}" class="form-control search-bar" placeholder="Search">
				</div>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li ng-click="ListViewToggle()" id="list-gride-View" class="navigationTop">
				<img ng-if="!ListView" height="30px" alt="gride" src="image/gridlist.svg">
				<img ng-if="ListView" height="30px" alt="list" src="image/list1.png">
			</li>
			
			<li>
				<div class="dropdown glyphicon-pic ">
					<span class="btn dropdown-toggle"  id="demo" type="button" data-toggle="dropdown">
						<span class="glyphicon glyphicon-user"></span>
					</span>
					<ul class="dropdown-menu xyz" role="menu"  aria-labelledby="demo">
						<li><a href="#"><span class="glyphicon glyphicon-user"></span>Profile</a></li>
						<li ng-click="logout()">logout</li>
					</ul>
				</div>
			</li>
		</ul>
		
	</div>
</nav>