
<div>
	<top-bar></top-bar>
	<side-bar></side-bar>
	<div>
		<div id="content-wrapper">

			<div class="container" id="content-wrapper-inside">
				<div id="note-input" class="form-group">
					<input type="text" placeholder="Take a note" id="note-input"
						ng-focus="showInput = true" class="				"
						ng-hide="showInput">
				</div>
				<div id="actual-input-div" ng-show="showInput"
					ng-init="newNoteColor='white'"
					ng-style="{'background-color' : newNoteColor}">
					<div type="text" id="note-title-input" contenteditable="true" ng-model="note.title"
						data-text="Title"></div>
					<div type="text" id="note-body-input" contenteditable="true" ng-model="note.description"
						data-text="Write a note"></div>
						<button id="savebtn" class="btn btn-done pull-right" type="button" ng-click="saveNotes()">Done</button>
					<div class="input-menu clearfix">
						<!-- <div class="dropup color-dropup">
							<ul class="dropdown-menu container color-dropdown-ul">
								<li ng-style="{'background-color':color}"
									class="color-dropdown-item col-xs-3"
									ng-repeat="color in colors"
									ng-click="changeAddNoteColor(color); $event.stopPropagation();"></li>
							</ul>
						</div> -->
						<!-- <div role="button" ng-click="createNote(false)"
							class="btn btn-done pull-right">DONE</div> -->
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>