
<div>
	<top-bar></top-bar>
	<side-bar></side-bar>
	<div>
		<div id="content-wrapper">

			<div class="container" id="content-wrapper-inside">
				<div id="note-input" class="form-group">
					<input type="text" placeholder="Take a note" id="note-input"
						ng-focus="showInput = true" class="" ng-hide="showInput">
				</div>
				<div id="actual-input-div" ng-show="showInput"
					ng-init="newNoteColor='white'"
					ng-style="{'background-color' : newNoteColor}">
					<div class="test" type="text" id="note-title-input"
						contenteditable="true" data-ng-model="note.title"
						placeholder="Title"></div>
					<div class="test" type="text" id="note-body-input"
						contenteditable="true" data-ng-model="note.description"
						placeholder="Write a note"></div>

					<!-- <div class="desc" type="text" id="note-body-input" contenteditable="true"
						data-ng-model="note.description" placeholder="Write a note"></div> -->
					<!-- <div style="float: left">

						<span class="btn dropdown-toggle" id="menu1"
							data-toggle="dropdown"> <span
							class="glyphicon glyphicon-option-vertical"></span>
						</span>

						<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
							<li><a ng-click="deleteNote(note)">Delete</a></li>
							<li><a>Add Lable</a></li>
							<li><a>Make a Copy</a></li>
						</ul>
					</div> -->
					<button id="savebtn" class="btn btn-done pull-right" type="button"
						ng-click="saveNotes()">Done</button>

				</div>
				<br>

				<div class='row' ng-show="pinNotes.length">
					<h4>Pinned</h4>
					<div>
						<input ng-show="false" id="image" type='file' ng-model-instant
							ng-model="file"
							onchange="angular.element(this).scope().imageUpload(this)" />
						<div class="card col-md-4 a"
							ng-repeat="note in notes | filter : {pin : true ,archived: false,trash: false} as pinNotes"
							class="container" style="background-color: {{note.color">
							<div style="float: right">
								<img ng-src="{{note.noteImage}}" ng-if("note.noteImage")>
								<span style="cursor: pointer"
									ng-click="note.pin=false; updateNote(note)"> <img
									alt="pin" style="height: 17px" src="image/bluepin.svg"></img>
								</span>

							</div>
							<div ng-click="showModal(note)">
								<div contenteditable="true" ng-bind-html="note.title"></div>
								<br>
								<div contenteditable="true" ng-bind-html="note.description"></div>
							</div>
							<div id="reminder" ng-if="note.reminder!=null">
								{{note.reminder}}<span class="closebtn"
									ng-click="removeReminder(note)">&#x274C;</span>
							</div>

							<div class="moreOptions">

								<div class="dropdown" style="float: left">
									<div class="dropdown inline">
										<span class="btn dropdown-toggle" id="menu2"
											data-toggle="dropdown"> <img alt="reminder"
											src="image/reminder.svg" height="17px">
										</span>

										<ul class="dropdown-menu" role="menu" aria-labelledby="menu2">
											<li><input type="text"
												ng-attr-id="datepicker{{note.id}}" class="reminder">
											</li>
											<li>
												<button ng-click="openReminder(note)">
													<span class="glyphicon glyphicon-calendar"></span>
												</button>
											</li>
										</ul>



										<img alt="colaburator" class="btn"
											ng-click="openCollboarate(note,User,$index)"
											src="image/colaburator.png" height="35px">

										<div class="btn-group dropup colorDiv" uib-dropdown>
											<img id="dropdown" class="dropdown-toggle"
												data-toggle="dropdown" alt="color"
												src="image/colorpallete.svg" uib-dropdown-toggle
												height="20px">
											<ul class="dropdown-menu" uib-dropdown-menu role="menu"
												aria-labelledby="btn-append-to-body"
												style="background-color: #f9fbff">
												<a ng-repeat="color in colors" role="menuitem"> <img
													ng-src="{{color.path}}" height="25px"
													ng-click="note.color =color.color; updateNote(note)">
												</a>
											</ul>
										</div>

										<img alt="image" src="image/image.svg" height="20px"
											aria-label="Image Upload" ng-click="openImageUploader(note)">
										<span ng-click="archiveNote(note)"> <img alt="archive"
											src="image/archive.svg" height="20px">
										</span>
										<div style="float: left">

											<span class="btn dropdown-toggle" id="menu1"
												data-toggle="dropdown"> <span
												class="glyphicon glyphicon-option-vertical"></span>
											</span>


											<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
												<li><a ng-click="trashNote(note)">Trash</a></li>
												<li><a>Add Lable</a></li>
												<li><a ng-click="copy(note)">Make a Copy</a></li>
												<li><a ng-click="fbAsyncInit(note)">share</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class='row' ng-show="otherNotes.length">
					<h4>Others</h4>
					<div class="card col-md-4 a"
						ng-repeat="note in notes | filter : {pin : false ,archived:false,trash:false} as otherNotes"
						class="container" style="background-color: {{note.color">

						<div style="float: right">
							<span style="cursor: pointer"
								ng-click="note.pin=true; updateNote(note)"> <img
								alt="pin" style="height: 17px" src="image/pin.svg"></img>
							</span>
						</div>
						<div ng-click="showModal(note)">
						<a>
					<img ng-src="{{note.noteImage}}"  style="width:100%"/>
                    </a>
							<div contenteditable="true" ng-bind-html="note.title"></div>
							<br>
							<div contenteditable="true" ng-bind-html="note.description"></div>
						</div>
						<div id="reminder" ng-if="note.reminder!=null">
							{{note.reminder}}<span class="closebtn"
								ng-click="removeReminder(note)">&#x274C;</span>
						</div>
						<div class="moreOptions">

							<div class="dropdown" style="float: left">
								<div class="dropdown inline">
									<span class="btn dropdown-toggle" id="menu2"
										data-toggle="dropdown"> <img alt="reminder"
										src="image/reminder.svg" height="17px">
									</span>

									<ul class="dropdown-menu" role="menu" aria-labelledby="menu2">
										<li><input type="text" ng-attr-id="datepicker{{note.id}}"
											class="reminder"></li>
										<li>
											<button ng-click="openReminder(note)">
												<span class="glyphicon glyphicon-calendar"></span>
											</button>
										</li>
									</ul>



									<img alt="colaburator" class="btn"
										ng-click="openCollboarate(note,User,$index)"
										src="image/colaburator.png" height="35px">
									<div class="btn-group dropup colorDiv" uib-dropdown>

										<img id="dropdown" class="dropdown-toggle"
											data-toggle="dropdown" alt="color"
											src="image/colorpallete.svg" uib-dropdown-toggle
											height="20px">

										<ul class="dropdown-menu" uib-dropdown-menu role="menu"
											aria-labelledby="btn-append-to-body"
											style="background-color: #f9fbff">

											<a ng-repeat="color in colors" role="menuitem"> <img
												ng-src="{{color.path}}" height="25px"
												ng-click="note.color =color.color;updateNote(note)">
											</a>
										</ul>
									</div>
									
									<span ng-click="openImageUploader(note)" class="btn"> 
									<img alt="image" src="image/image.svg" height="20px">	
									</span>
									
									<span ng-click="archiveNote(note)"> <img alt="archive"
										src="image/archive.svg" height="20px">
									</span>


									<div style="float: left">

										<span class="btn dropdown-toggle" id="menu1"
											data-toggle="dropdown"> <span
											class="glyphicon glyphicon-option-vertical"></span>
										</span>


										<ul class="dropdown-menu multi-level" role="menu" aria-labelledby="menu1">
											<li><a ng-click="trashNote(note)">Trash</a></li>
												<li class="dropdown-submenu">
													<a tabindex="-1" href="#">Add label</a>
													<ul class="dropdown-menu">
													<li><a tabindex="-1" href="#">Create label</a></li>
													<li><input class="input-label"
														placeholder="Enter label name"
														ng-model="$parent.newLabel" ng-blur="saveLabel(label)"></li>
													<li>
														<div ng-repeat="label in labels"
															class="dropdown-submenu-item checkbox">
															<label> <input type="checkbox"
																ng-click="toggleLabelOfNote(note, label); updateNote(note);"
																ng-checked="checkboxCheck(note, label)">
																{{label.labelName}}
															</label>
														</div>
													</li>
													<li style="cursor: pointer; background: rgba(0, 0, 0, .2)"
														ng-if="newLabelCreate"
														ng-click="saveLabel(label)">
														<div>
															 Create <b>"{{label.labelName}}"</b>
														</div>
													</li>
												</ul>
												</li>
												</li>
											<li><a ng-click="copy(note)">Make a Copy</a></li>
											<li><a ng-click="fbAsyncInit(note)">share</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>