<div class="modal-content">
	<div class="modal-body">
		<div class="form-group">

			<div id="notetitle" placeholder="title" contenteditable="true" ng-model="note.title" ng-change="updateNote(note)"></div>
			<div id="noteDescription" placeholder="Take a note..." contenteditable="true" ng-model="note.description" ng-change="updateNote(note)"></div>

			<div class="moreOptions">

				<div class="dropdown" style="float: left">
					<img alt="reminder" src="image/reminder.svg" height="15px"> <img
						alt="colaburator" src="image/colaburator.png" height="25px">
					<div class="btn-group dropup colorDiv" uib-dropdown>
						<img id="dropdown" class="dropdown-toggle" data-toggle="dropdown"
							alt="color" src="image/colorpallete.svg" uib-dropdown-toggle
							height="20px">
						<ul class="dropdown-menu" uib-dropdown-menu role="menu"
							aria-labelledby="btn-append-to-body"
							style="background-color: #f9fbff">
							<a ng-repeat="color in colors" role="menuitem"> <img
								ng-src="{{color.path}}" height="25px"
								ng-click="note.color =color.color; updateNote(note)">
							</a>
						</ul>
					</div>

					<img alt="image" src="image/image.svg" height="20px"> <span
						ng-click="archiveNote(note)"> <img alt="archive"
						src="image/archive.svg" height="20px">
					</span>
					<div style="float: left">

						<span class="btn dropdown-toggle" id="menu1"
							data-toggle="dropdown"> <span
							class="glyphicon glyphicon-option-vertical"></span>
						</span>


						<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
							<li><a ng-click="deleteNotes(note)">Delete</a></li>
							<li><a>Add Lable</a></li>
							<li><a ng-click="copy(note)">Make a Copy</a></li>
						</ul>
					</div>
				</div>
			</div>

			<div style="float: right">
				<div>
					<div class="dropdown" style="float: right">
						<div class="btn-group dropup colorDiv"></div>
						<span ng-click="updateNote(note)">DONE</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>