
<div>
	<top-bar></top-bar>
	<side-bar></side-bar>
	<div>
		<div id="content-wrapper">

			<div class="container" id="content-wrapper-inside">


				<div class='row'>
					<div class="card col-md-4 a" ng-repeat="note in notes"
						ng-if="note.reminder != null " class="container"
						style="background-color: {{note.color">

						<div style="float: right">
							<span style="cursor: pointer"
								ng-click="note.pin=true; updateNote(note)"> <img
								alt="pin" style="height: 17px" src="image/pin.svg"></img>
							</span>
						</div>
						<div contenteditable="true" ng-bind-html="note.title"></div>
						<br>
						<div contenteditable="true" ng-bind-html="note.description"></div>

						<div id="reminderDiv">
							<input type="text" id="datetimepicker6" ng-blur="tet(note)"
								ng-model="note.reminder"> <img id="reminder"
								src="image/remove.svg">

							<div class="moreOptions">

								<div class="dropdown" style="float: left">
									<img alt="reminder" src="image/reminder.svg" height="15px">
									<img alt="colaburator" src="image/colaburator.png"
										height="25px">
									<div class="btn-group dropup colorDiv" uib-dropdown>

										<img id="dropdown" class="dropdown-toggle"
											data-toggle="dropdown" alt="color"
											src="image/colorpallete.svg" uib-dropdown-toggle
											height="20px">

										<ul class="dropdown-menu" uib-dropdown-menu role="menu"
											aria-labelledby="btn-append-to-body"
											style="background-color: #f9fbff">

											<a ng-repeat="color in colors" role="menuitem"> <img
												ng-src="{{color.path}}" height="25px"
												ng-click="note.color =color.color;updateNote(note)">
											</a>
										</ul>
									</div>

									<img alt="image" src="image/image.svg" height="20px"> <span
										ng-click="unarchiveNote(note)"> <img alt="archive"
										src="image/unarchive.svg" height="20px">
									</span>


									<div style="float: left">

										<span class="btn dropdown-toggle" id="menu1"
											data-toggle="dropdown"> <span
											class="glyphicon glyphicon-option-vertical"></span>
										</span>


										<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
											<li><a ng-click="">Re</a></li>
											<li><a ng-click="">Restore</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>